.hulppas {
  color: white;
}
#profilepic {
  position: absolute;
  margin-top: -248px;
  margin-left: 14px;
  width: 110px
}
#voornaam {
  position: absolute;
  margin-top: -100px;
  margin-left: 16px;
}
#tussenvoegsel {
  position: absolute;
  margin-top: -80px;
  margin-left: 16px;
}
#achternaam {
  position: absolute;
  margin-top: -60px;
  margin-left: 16px;
}
#id {
  position: absolute;
  margin-top: -40px;
  margin-left: 16px;
}
#qr-code-voor {
  width: 100px;
  height: 100px;

  position: absolute;
  margin-top: -140px;
  margin-left: 286px;
}
