<div class="container">
  <!-- <div class="row">
    <div class="col">
      <div id="hulppas-voor" class="rij">
        <div class="kolom">
          <img id="profilepic" src="https://randomuser.me/api/portraits/women/27.jpg" alt="Profilepic">
        </div>
        <div class="kolom">
          <div>
            Als ik veel prikkels krijg dan kan ik agressief overkomen. Op deze pas staan mensen die mij kunnen kalmeren.
          </div>
        </div>
        <div class="kolom">
          <div>
            Scan de qr-code voor meer informatie, of ga naar deze link in je browser.
          </div>
          <div>
            hulp.pas/aQuWsmWs
          </div>
          <img class="img-fluid" src="assets/img/example-qr.png" alt="QR-code">
        </div>
      </div>
    </div>
    <div class="col">
      <div id="hulppas-achter" class="row">
        <div class="col">
          aa
        </div>
        <div class="col">
          aa
        </div>
        <div class="col">
          aa
        </div>
      </div>
    </div>
  </div>
  <button class='btn btn-primary' (click)='exportHulppas()'>Generate</button> -->

  <div class="row">
    <div class="col">
      <div id="hulppas-voor" class="hulppas">
        <img src="assets/img/voorkant.png" alt="Voorkant Hulppas">
        <div id="voornaam">
          Frederik
        </div>
        <div id="tussenvoegsel">van</div>
        <div id="achternaam">
          Eijk
        </div>
        <div id="id">
          ID/123456
        </div>
        <div id="beschrijving">
          aaa
        </div>
        <img id="qr-code-voor" src="assets/img/example-qr.jpg" alt="QR-code">
        <img id="profilepic" src="https://randomuser.me/api/portraits/women/27.jpg" alt="Profilepic">
      </div>
    </div>
    <div class="col">
      <div id="hulppas-achter" class="hulppas">
        <img src="assets/img/achterkant.png" alt="Achterkant Hulppas">
        <div id="">
          asdasdadasd
        </div>
      </div>
    </div>
  </div>
  <button class='btn btn-primary' (click)='exportHulppas()'>Generate</button>
</div>
