<div class="container">
  <div class="jumbotron mt-3 mb-3">
    <h1 class="display-4">Welkom Gebruiker!</h1>
    <p class="lead">Dit is de homepagina van de experimentele versie van de Hulppas Dashboard.</p>
    <hr class="my-4">
    <p>Deze applicatie is nog in een experimentele staat en kan dus (nog) niet voor echte informatie gebruikt worden. Om te zien hoe de applicatie gebruikt moet worden, bekijk de handleiding.</p>
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Handleiding</a>
  </div>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h4>Nieuwe regelgeving hulppas <h5 class="card-subtitle mt-1 text-muted float-right">23-06-2019</h5></h4>
      <p>
        Vanaf vandaag is er een nieuwe regelgeving in gegaan. Deze regelgevingen houden in dat informatie AVG compliant moet zijn... <a routerLink='/'>Lees meer</a>
      </p>
      <hr>
      <h4>Update : Hulppas Dashboard 0.0.1 Alpha <h5 class="card-subtitle mt-1 text-muted float-right">18-06-2019</h5></h4>
      <p>
        Er zijn nieuwe functies uitgerold, zoals het zien, aanpassen en eventueel verwijderen van echte gebruikers in de blockchain. Changelog: ... <a routerLink='/'>Lees meer</a>
      </p>
      <hr>
      <h4>Welkom op de hulppas dashboard <h5 class="card-subtitle mt-1 text-muted float-right">11-06-2019</h5></h4>
      <p>
        Na intensief werken is er eingelijk resultaat, de hulppas dashboard staat online. <a routerLink='/'>Lees meer</a>
      </p>
    </div>
  </div>
</div>
