<div class="container">
  <div class="jumbotron mt-3 mb-3">
    <h1 class="display-4">Welkom Gebruiker!</h1>
    <p class="lead">Dit is de homepagina van de experimentele versie van de Hulppas Dashboard.</p>
    <hr class="my-4">
    <p>Deze applicatie is nog in een experimentele staat en kan dus (nog) niet voor echte informatie gebruikt worden. Om te zien hoe de applicatie gebruikt moet worden, bekijk de handleiding.</p>
    <a class="btn btn-primary btn-lg" routerLink="#" role="button">Handleiding</a>
  </div>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum risus vitae leo malesuada blandit. Phasellus tincidunt purus lacus. Nullam eget ante rutrum, dictum orci dictum, dapibus lorem. Cras ullamcorper porta ex, nec cursus eros sollicitudin eu. Aliquam vel dapibus elit. Suspendisse a faucibus arcu, sit amet euismod lectus. Praesent rutrum ultricies odio, facilisis dapibus felis malesuada vitae. Morbi consequat lorem non massa pharetra posuere. Vestibulum tellus tortor, pulvinar eu ipsum quis, sagittis tincidunt eros. Duis mollis risus at pellentesque condimentum. Proin eget imperdiet metus. Quisque rhoncus malesuada risus at rutrum.
      </p>
      <p>
        Etiam eget diam id felis euismod luctus at et urna. Duis odio enim, ultricies ut auctor id, consectetur et ipsum. Nullam sed ultrices orci. Fusce vel nunc vitae elit fermentum semper in non lectus. Suspendisse et luctus nisi. Etiam sit amet quam eget urna congue venenatis. Aenean fringilla eleifend tellus. Nulla id metus ac urna vulputate maximus. Cras porta est ex, vitae mattis lacus convallis fringilla.
      </p>
      <p>
        Donec vel imperdiet ex. Nunc vel sodales felis. Mauris laoreet orci risus, finibus convallis odio dictum sed. Curabitur finibus facilisis magna id ornare. Aliquam finibus velit sed purus convallis mattis iaculis eget ante. Nam a ex metus. Nunc ut mauris eleifend, tempus felis in, accumsan eros. Nunc pulvinar placerat consectetur. Nulla mattis varius lectus, vel scelerisque augue pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce efficitur neque massa, vel pellentesque neque auctor ut.
      </p>
      <p>
        Praesent purus ante, condimentum ac dapibus vel, rhoncus a purus. Mauris porttitor auctor auctor. In nec augue nibh. Mauris faucibus elementum rhoncus. Curabitur vel turpis vitae magna convallis volutpat. Aliquam eleifend nunc vitae imperdiet facilisis. Nunc sit amet aliquet magna, at gravida ipsum. In hac habitasse platea dictumst. Proin quis lacinia velit.
      </p>
      <p>
        Sed fermentum mattis ex nec dictum. Donec ultrices malesuada dolor sed porttitor. Nunc malesuada nunc eu magna dictum sodales. Vestibulum suscipit, orci ut ultrices commodo, ante nulla auctor arcu, quis rhoncus nulla ipsum et diam. Nulla quis massa a nibh scelerisque ultrices vitae hendrerit nunc. Nullam malesuada urna posuere, varius dui vestibulum, cursus risus. Etiam eu libero in odio cursus varius eu ac risus. Curabitur a nibh sed justo convallis faucibus. Nunc tortor orci, sagittis eget feugiat nec, blandit vitae justo. Sed sagittis sollicitudin sapien, nec rutrum lacus luctus vitae. In ultricies massa efficitur metus blandit, sit amet fringilla elit lacinia. Duis ut lorem vitae ligula maximus finibus.
      </p>
    </div>
  </div>
</div>
