<div class="container">
  <div class="row mt-4">
    <div class="col-sm mb-2">
      <div class="card">
        <div class=""><img src="assets/img/example-profilepic.jpg" class="rounded m-3" alt="...">
        </div>
        <div class="card-body">
          <h1 class="card-title">Frederike van Eijk</h1>
          <form>
            <div class="form-group">
              <label for="adres">Adres</label>
              <input class="form-control" id="adres" placeholder="Adres 10 0000AB Stad">
            </div>
            <div class="form-group">
              <label for="geboortedatum">Geboortedatum</label>
              <input class="form-control" id="geboortedatum" placeholder="11-11-1987" disabled>
            </div>
            <div class="form-group">
              <label for="adres">Adres</label>
              <input class="form-control" id="adres" placeholder="Adres 10 0000AB Stad">
            </div>
            <div class="form-group">
              <label for="adres">Adres</label>
              <input class="form-control" id="adres" placeholder="Adres 10 0000AB Stad">
            </div>
            <div class="form-group">
              <label for="beschrijving">Beschrijving</label>
              <textarea class="form-control" id="beschrijving" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mb-2">
          <div class="card-body">
              <h5 class="card-title">Activiteit</h5>
              <h6 class="card-subtitle mb-2 text-muted">Datum | Tijd</h6>
            Details, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nostrum at quae blanditiis, quam eius eligendi voluptates dicta! Voluptate quas eius ex qui architecto accusantium, neque eveniet quae voluptas suscipit.
          </div>
      </div>
      <div class="card mb-2">
          <div class="card-body">
              <h5 class="card-title">Activiteit</h5>
              <h6 class="card-subtitle mb-2 text-muted">Datum | Tijd</h6>
            Details, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nostrum at quae blanditiis, quam eius eligendi voluptates dicta! Voluptate quas eius ex qui architecto accusantium, neque eveniet quae voluptas suscipit.
          </div>
        </div>
    </div>
  </div>
</div>
