<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="page-qr-code"></ion-back-button>
        </ion-buttons>
        <ion-title>medicatie</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.personService.person">
    <ion-card *ngFor="let medicijn of this.personService.person.mediciijnlijst">
        <ion-card-header>
            <ion-card-title>
                <h3>{{medicijn.naam}}</h3>
            </ion-card-title>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <strong>Bijwerkingen:</strong>
                        </ion-col>
                        <ion-col>
                            <p>{{medicijn.bijwerkingen}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <strong>Frequentie: </strong>
                        </ion-col>
                        <ion-col>
                            <p>{{medicijn.frequentie}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <strong>Bezit: </strong>
                        </ion-col>
                        <ion-col>
                            <p>{{medicijn.bezit}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <strong>Extra: </strong>
                        </ion-col>
                        <ion-col>
                            <p>{{medicijn.extra}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card-header>
    </ion-card>
</ion-content>