<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="page-qr-code"></ion-back-button>
        </ion-buttons>
        <ion-title>medicatie</ion-title>
    </ion-toolbar>
</ion-header>
<!-- *ngIf="this.personService.person" -->
<ion-content>
    <!-- Dit is een accordion die, waarmee je de data kan uitlaten vouwen en meer informatie krijgt. -->
    <div id="medicatie">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-block" data-toggle="collapse" attr.data-target="#id{{this.personService.person.medicatieId}}" aria-expanded="true" attr.aria-controls="{{this.personService.person.medicatieId}}" (click)="toggle()">
                        <ion-grid>
                            <ion-row>
                                <ion-col class="ion-text-start">
                                    <strong>{{this.personService.person.extra}}</strong>
                                </ion-col>
                                <ion-col class="ion-text-end">
                                    <ion-icon [name]="collapse ? 'arrow-up' :'arrow-down'">
                                    </ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </button>
                </h2>
            </div>

            <div id="id{{this.personService.person.medicatieId}}" class="collapse" aria-labelledby="headingOne" data-parent="#medicatie">
                <div class="card-body">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <strong>Bijwerkingen:</strong>
                            </ion-col>
                            <ion-col>
                                <p>{{this.personService.person.frequentie}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <strong>Frequentie: </strong>
                            </ion-col>
                            <ion-col>
                                <p>{{this.personService.person.frequentie}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <strong>Bezit: </strong>
                            </ion-col>
                            <ion-col>
                                <p>{{this.personService.person.bezit}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <strong>Extra: </strong>
                            </ion-col>
                            <ion-col>
                                <p>{{this.personService.person.extra}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>
</ion-content>