<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="page-info">
      <ion-icon name="person"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-contact">
      <ion-icon name="people"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-medicatie">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>Medicatie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
