<div class="container mt-4 mb-1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark"><i class="fas fa-chevron-left"></i></button>
      <button type="button" class="btn btn-primary"><i class="fas fa-capsules"></i></button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>

    <form>
      <div class="form-row">
        <div class="form-group">
          <label for="staticID">ID</label>
          <input type="text" class="form-control" id="staticID" placeholder="#1" readonly>
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputFirstName">Voornaam</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="Pieter">
          </div>
          <div class="form-group col-md-5">
            <label for="inputSecondName">Achternaam</label>
            <input type="text" class="form-control" id="inputSecondName" placeholder="Post">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Adres</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Adres 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Stad</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Postcode</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-1">Opslaan</button>
        <button type="submit" class="btn btn-danger">Annuleren</button>
      </form>
</div>
  