<div class="container">
  <div class="row mt-4">
    <div class="col-sm mb-2">
      <div class="card">
        <div class=""><img src="assets/img/example-profilepic.jpg" class="rounded mt-3 ml-3 img-thumbnail" alt="Profile Picture">
          <div class="btn-group float-right mt-3 mr-3" role="group">
            <a class="btn btn-primary" routerLink="/medicijnen/1" role="button"><i class="fas fa-prescription-bottle-alt"></i> Medicijnen</a>
            <a class="btn btn-primary" routerLink="/vertrouwenspersonen/1" role="button"><i class="fas fa-users"></i> Vertrouwenspersonen</a>
            <a class="btn btn-primary" routerLink="/genereren/1" role="button"><i class="fas fa-id-card"></i> Hulppas Genereren</a>
            <a class="btn btn-outline-secondary" routerLink="/gegevens" on><i class="fas fa-times"></i></a>
          </div>
        </div>
        <div class="card-body">
          <h1 class="card-title">Frederike van Eijk</h1>
          <h3 class="card-subtitle mb-2 text-muted">#3456781</h3>
          <form class="mt-4">

            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Algemeen
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                      <label for="adres">Profielfoto</label>
                      <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="foto">
                        <label class="custom-file-label" for="foto" data-browse="Foto kiezen">Voeg de foto toe</label>
                      </div>
                      <div class="form-group">
                        <label for="adres">Adres</label>
                        <input type="text" class="form-control" id="adres" value="Straat 12 0000AB Stad">
                      </div>
                      <div class="form-group">
                        <label for="geboortedatum">Geboortedatum</label>
                        <input type="date" class="form-control" id="geboortedatum" value="1987-11-30">
                      </div>
                      <div class="form-group">
                        <label for="telefoon">Telefoonnummer</label>
                        <input type="tel" class="form-control" id="telefoon" value="+31600000000">
                      </div>
                      <div class="form-group">
                        <label for="verzekering">Verzekeringsgegevens</label>
                        <input type="text" class="form-control" id="verzekering" value="GVZ">
                      </div>
                      <div class="form-group">
                        <label for="beschrijving">Beschrijving</label>
                        <textarea class="form-control" id="beschrijving" rows="3"></textarea>
                      </div>
                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                      Huisarts
                    </button>
                  </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <label for="naam">Naam</label>
                    <div class="input-group">
                      <input id="naam" type="text" class="form-control" placeholder="Meneer Zijlstra" aria-label="Naam" aria-describedby="naam" disabled>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="adres">Edit</button>
                      </div>
                    </div>
                    <label for="adres">Adres</label>
                    <div class="input-group">
                      <input id="adres" type="text" class="form-control" placeholder="Straat 12 0000AB Stad" aria-label="Adres" aria-describedby="adres" disabled>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="adres">Edit</button>
                      </div>
                    </div>
                    <label for="adres">Telefoonnummer 1</label>
                    <div class="input-group">
                      <input id="telefoon1" type="text" class="form-control" placeholder="+316 316 316 316" aria-label="Telefoonnummer 1" aria-describedby="telefoon1" disabled>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="telefoon1">Edit</button>
                      </div>
                    </div>
                    <label for="adres">Telefoonnummer 2</label>
                    <div class="input-group">
                      <input id="telefoon2" type="text" class="form-control" placeholder="+316 316 316 316" aria-label="Telefoonnummer 2" aria-describedby="telefoon2" disabled>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="telefoon2">Edit</button>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="naam-huisarts">Naam</label>
                      <input type="text" class="form-control" id="naam-huisarts" value="Meneer Zijlstra">
                    </div>
                    <div class="form-group">
                      <label for="adres-huisarts">Adres</label>
                      <input type="text" class="form-control" id="adres-huisarts" value="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Handelingen
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <label for="handeling1">Handeling 1</label>
                      <div class="input-group">
                        <input id="handeling1" type="text" class="form-control" placeholder="Zorg dat er geen mensen om mij heen blijven staan en vraag mij om te gaan zitten." aria-label="Handeling 1" aria-describedby="handeling1" disabled>
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="handeling1">Edit</button>
                        </div>
                      </div>
                      <label for="handeling2">Handeling 2</label>
                      <div class="input-group">
                        <input id="handeling2" type="text" class="form-control" placeholder="Zorg dat er geen mensen om mij heen blijven staan en vraag mij om te gaan zitten." aria-label="Handeling 2" aria-describedby="handeling2" disabled>
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="handeling2">Edit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Opslaan</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mb-2">
          <div class="card-body">
              <h5 class="card-title">Activiteit</h5>
              <h6 class="card-subtitle mb-2 text-muted">Datum | Tijd</h6>
            Details, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nostrum at quae blanditiis, quam eius eligendi voluptates dicta! Voluptate quas eius ex qui architecto accusantium, neque eveniet quae voluptas suscipit.
          </div>
      </div>
      <div class="card mb-2">
          <div class="card-body">
              <h5 class="card-title">Activiteit</h5>
              <h6 class="card-subtitle mb-2 text-muted">Datum | Tijd</h6>
            Details, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nostrum at quae blanditiis, quam eius eligendi voluptates dicta! Voluptate quas eius ex qui architecto accusantium, neque eveniet quae voluptas suscipit.
          </div>
        </div>
    </div>
  </div>
</div>
