<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="page-qr-code"></ion-back-button>
        </ion-buttons>
        <ion-title>Info</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="this.personService.person">
    <!-- Een foto van een gebruiker, zal een standaard foto worden als de patient geen foto heeft -->
    <div class="user">
        <div class="user-picture">
            <img src="{{this.personService.person.fotourl}}" width="200" height="200">
            <!-- <img src="../../../assets/images/user.png" width="200" height="200"> -->
        </div>
        <div class="user-background"></div>
    </div>

    <!-- De standaard NAV gegevens van een patient -->
    <h3 class="title">NAV gegevens</h3>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col class="default">
                        Name:
                    </ion-col>
                    <ion-col>
                        {{this.personService.person.naam}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="this.loginService.check">
                    <ion-col class="default">
                        Geboortedatum:
                    </ion-col>
                    <ion-col>
                        {{this.personService.person.geboortedatum}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="default">
                        adres:
                    </ion-col>
                    <ion-col>
                        {{this.personService.person.adres}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="this.loginService.check">
                    <ion-col class="default">
                        Nummer:
                    </ion-col>
                    <ion-col>
                        {{this.personService.person.telefoonnummer}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="this.loginService.check">
                    <ion-col class="default">
                        verzekering:
                    </ion-col>
                    <ion-col>
                        {{this.personService.person.verzekeringsgegevens}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!-- Hier staat het algemene probleem wat een verward persoon kan hebben -->
    <h3 class="title">Probleem</h3>
    <ion-card>
        <ion-card-content>
            {{this.personService.person.probleem}}
        </ion-card-content>
    </ion-card>

    <!-- Hier staan de handelingen met index als de volgorde van de stappen. -->
    <h3 class="title">Handelingen</h3>
    <ion-card>
        <ion-card-content *ngFor="let handeling of this.personService.person.handelingen; let i = index;">
            <strong>{{i + 1}}.</strong> {{handeling}}
        </ion-card-content>
    </ion-card>

    <!-- Hiermee log je wat je hulpverlener heeft uitgevoerd. IS EEN CONCEPT, IS NIET AFGEHANDELD. -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.loginService.check">
        <ion-fab-button (click)="logData()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>