<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user">
    <div class="user-picture">
      <img src="../../../assets/images/user.png" width="200" height="200">
    </div>
    <div class="user-background"></div>
    <div class="text">
      <strong>Bert Jansen</strong>
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="default">
            Name:
          </ion-col>
          <ion-col>
            Test
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="default">
            Geboortedatum:
          </ion-col>
          <ion-col>
            10-10-1990
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="default">
            Woonplaats:
          </ion-col>
          <ion-col>
            Utrecht
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="default">
            Nummer:
          </ion-col>
          <ion-col>
            0612345678
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      Ik kan soms last krijgen van psychoses waarbij ik dan dingen zie en hoor die er niet zijn. Soms ben ik ook bang
      dat mensen mij zullen vergiftigen. Dan stop ik met eten. Ik kan wantrouwend zijn in een crisissituatie. Op deze
      kaart staat wat ik wil dat mensen om mij heen doen, als ik in een crisis kom. Welke pillen ik niet wil en waar ik
      zeker niet opgenomen wil worden.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="default">
            1.
          </ion-col>
          <ion-col>
            Zorg dat er geen mensen om mij heen blijven staan en vraag mij om te gaan zitten.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="default">
            2.
          </ion-col>
          <ion-col>
            Neem contact op met <a class="link" href="/tabs/pages/page-contact">vertrouwenspersoon 1</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="default">
            3.
          </ion-col>
          <ion-col>
            Neem contact op met mijn <a class="link" href="/tabs/pages/page-contact">Huisarts</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="default">
            4.
          </ion-col>
          <ion-col>
            Blijf bij mij en ga niet weg, maar kom niet met meer dan 2 mensen tegelijkertijd dichtbij.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>