<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="page-qr-code"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Hier vul je je gegevens in als hulppas werknemer en krijg je toegang tot meer informatie -->
    <ion-card>
        <div class="form">
            <div class="input">
                <input type="text" class="input" name="name" autocomplete="off" required [(ngModel)]="name">
                <label for="name" class="label">
                        <span class="content">Name</span>
                    </label>
            </div>
            <div class="input">
                <input type="password" name="password" autocomplete="off" required [(ngModel)]="password">
                <label for="password" class="label">
                        <span class="content">Password</span>
                    </label>
            </div>
            <ion-button (click)="Login()">
                Login
            </ion-button>
        </div>
    </ion-card>
</ion-content>