<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="page-qr-code"></ion-back-button>
        </ion-buttons>
        <ion-title>contact</ion-title>
    </ion-toolbar>
</ion-header>
<!-- <ion-content [scrollEvents]="true" *ngIf="this.personService.person"> -->
<ion-content [scrollEvents]="true">

    <!-- Hier staan de vertrouwenspersonen die bij een verward persoon horen. -->
    <h1 class="title" id="vertrouwenspersoon">Vertrouwens persoon</h1>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{this.personService.person.naam}}</ion-card-title>
            <ion-card-subtitle><strong>Relatie: </strong>{{this.personService.person.relatie}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <h3 *ngIf="this.loginService.check">{{this.personService.person.adres}}</h3>
            <br>
            <p></p>
            <ion-button href={{this.tel}}+{{this.personService.person.telefoon}}>
                <ion-icon name="call" slot="end"></ion-icon>Bel
            </ion-button>
        </ion-card-content>
    </ion-card>

    <!-- Hier staat de doktor die bij een verward persoon hoort. -->
    <h1 class="title" id="huisarts">Huisarts</h1>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{this.personService.person.naam}}</ion-card-title>
            <ion-card-subtitle>Doktor</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <h3>{{this.personService.person.polieadres}}</h3>
            <br>
            <p>{{this.personService.person.info}}</p>

            <ion-button href="{{this.tel}}+{{this.personService.person.telefoonnummer}}">
                <ion-icon name="call" slot="start"></ion-icon>Bel
            </ion-button>

            <ion-button href={{this.tel}}+{{this.personService.person.spoednummer}}>
                <ion-icon name="call" slot="start"></ion-icon>Spoedlijn
            </ion-button>
        </ion-card-content>
    </ion-card>

    <!-- Met deze knop scrol je snel naar de doktor, hiermee hoef je niet zelf langs alle vertrouwenspersonen te scrollen -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="ScrollTo('huisarts')">
            <ion-icon name="medkit"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>